h1 {
  text-align: center;
}

.city-title {
  padding-left: 30px;
}

.line {
  border: 1px solid #888888;
  margin: 10px auto;
}

.bolder {
  font-weight: bolder;
}

.gold {
  color: gold;
}

.goldenrod {
  color: goldenrod;
}
