body {
  font-family: 'Baloo Bhaina 2', cursive;
  background-image: url('../img/bg.png');
}

h1 {
  color: white;
  text-align: center;
}

main {
  min-height: 93vh;
}

.row-custom {
  background-color: rgba(0, 0, 0, 0.2);
}

.input-group-custom-label {
  font-size: 12px;
  height: 30px;
  background-color: rgba(88, 88, 88, 0.8);
  color: white;
}

.input-group-custom {
  font-size: 12px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.change-btn-custom {
  text-align: center;
}

.change-btn-custom > button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.change-btn-custom > button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
}

.city-bg {
  height: 150px;
}

.city-h1 {
  margin-top: 25px;
  color: white;
}

.city-h1 > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.city-h1 > a:hover {
  color: skyblue;
}

.loading-custom {
  margin-left: 50%;
}

.city-p {
  color: gold;
}

.city-name {
  font-size: 32px;
  color: white;
  text-shadow: 1px 1px black;
  background-image: url('../img/city.png');
}

.city-coord {
  font-size: 18px;
  margin: auto;
}

.img-board {
  height: 350px;
  margin-bottom: 5px;
}

.img-box {
  margin-bottom: auto;
}

.img-city {
  border-radius: 3px;
  object-fit: none;
  object-position: center;
  width: 100%;
  max-height: 277px;
  margin-top: 0;
}

.map {
  width: 100%;
  height: 275px;
  margin: auto;
  border: 0;
}

p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.title {
  margin: auto;
  font-size: 32px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.modal-title-img {
  color: white;
  text-shadow: 1px 1px black;
  background-image: url('../img/bg.png');
}

.weather-img {
  color: white;
  text-shadow: 1px 1px black;
  background-image: url('../img/weather.png');
}

.earthquake-img {
  color: white;
  text-shadow: 1px 1px black;
  background-image: url('../img/earthquake.png');
}

.photo-img {
  color: white;
  text-shadow: 1px 1px black;
  background-image: url('../img/photo.png');
}

.map-img {
  color: white;
  text-shadow: 1px 1px black;
  background-image: url('../img/map.png');
}

.modal-custom {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-body-img{
  padding: 5px;
}

.modal-img {
  border-radius: 3px;
}

.modal-design-custom {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20%;
}

.modal-custom-img-body {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10%;
}

.modal-close-btn-custom {
  text-shadow: none;
}

.img-fit {
  border-radius: 3px;
  width: 100%;
}

.carousel-control-custom {
  width: 5%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
  .body-msg {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .city-coord {
    font-size: 14px;
  }

  .body-msg {
    font-size: 18px;
  }

  main {
    min-height: 23vh;
  }

  footer {
    font-size: 14px;
  }
}
