body {
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

.city-bg {
  background-color: black;
  height: 200px;
}

.city-h1 {
  color: white;
}

.city-p {
  color: #888888
}
img {
  border-radius: 2px;
}

p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.title {
  padding-left: 30px;
}

.carousel-btn {
  background-color: rgb(0,0,0,0.1);
  border-radius: 3px;
}
